<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".WearVibrationCenter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false"/>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false"/>

        <activity
            android:name=".AlarmActivity"
            android:keepScreenOn="true"
            android:showOnLockScreen="true"
            android:theme="@style/AlarmTheme">
            <intent-filter>
                <action android:name="com.matejdro.wearvibrationcenter.START_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mutepicker.MuteModeActivity"
            android:label="@string/app_name_shorter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".mutepicker.TimedMuteActivity"/>
        <activity android:name=".mutepicker.AppMuteActivity"/>
        <activity android:name=".mutepicker.AppMuteConfirmationActivity"/>

        <service
            android:name=".PhoneCommandListener"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>

                <data
                    android:host="*"
                    android:pathPrefix="/Command"
                    android:scheme="wear"/>
            </intent-filter>
        </service>

        <service
            android:name=".GlobalPreferenceReceiverService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>
                <data
                    android:host="*"
                    android:pathPrefix="/Preferences"
                    android:scheme="wear"/>
            </intent-filter>
        </service>

        <service android:name="com.matejdro.wearutils.logging.LogTransmitter"/>

        <service
            android:name="pl.tajchert.exceptionwear.ExceptionService"
            android:process=":error"/>

        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity"/>
        <activity
            android:name="com.matejdro.wearutils.companionnotice.PhoneAppNoticeActivity"/>
    </application>

</manifest>
